.ProjectTags {
  grid-area: content3;
  list-style: none;
  padding: 0;
}
.ProjectTags-tag {
  text-align: left;
}
.ProjectTags-tag::before {
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  background-image: url(../../assets/icons/box_checked.svg);
}