.ProjectDetail {
  display: grid;
  grid-template:
    "header" min-content
    "summary" min-content
    "units"  min-content
    / 100%;
  margin-top: 20px;
  width: 100%;
}
.ProjectDetail-summary {
  grid-area: summary;
  margin: 20px auto 20px auto;
  text-align: left;
  width: 85%;
}

@media only screen and (max-width: 768px) {
  .ProjectDetail {
    margin-bottom: 50px;
    width: 100%;
  }
  .ProjectDetail-summary {
    width: 90%;
  }
}