.ProjectSummary {
  display: grid;
  grid-template: 
  "label1 content1"
  "label2 content2"
  "label3 content3"
    / 1fr 3fr;
}
/* .ProjectSummary-title {
  display: grid;
  grid-area: title;
  grid-template:
    "label1 content1"
    "label2 content2"
    "label3 content3";
} */
.ProjectSummary-title-label {
  grid-area: label1;
}
.ProjectSummary-title-content {
  grid-area: content1;
}
.ProjectSummary-links-label {
  grid-area: label2;
}
.ProjectSummary-links-link {
  grid-area: content2;
}
.ProjectSummary-tags-label {
  grid-area: label3;
}
.ProjectSummary-tags {
  grid-area: content3;
}