.ProjectHeader * {
  font-family: 'Inconsolata', sans-serif;
}
.label {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  margin: 0;
  text-decoration: underline;
}
.content {
  font-size: 1.5em;
  height: 100%;
  margin-left: 0;
  text-align: left;
  width: 100%;
}
.ProjectHeader {
  column-gap: 20px;
  row-gap: 10px;
  display: grid;
  grid-area: header;
  grid-template: 
  "label1 content1 label3 content3"
  "label2 content2 label3 content3"
  "...... ........ label3 content3"
    / max-content max-content min-content max-content;
}

.ProjectHeader-title-label {
  grid-area: label1;
}
.ProjectHeader-title-content {
  grid-area: content1;
}
.ProjectHeader-links-label {
  grid-area: label2;
}
.ProjectHeader-links-content {
  grid-area: content2;
}
.ProjectHeader-links-link {
  padding-right: .5em;
}
.ProjectHeader-tags-label {
  grid-area: label3;
}
.ProjectHeader-tags-content {
  grid-area: content3;
  list-style: none;
  padding: 0;
}
.ProjectHeader-tags-tag::before {
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  background-image: url(../../assets/icons/box_checked.svg);
}
.ProjectHeader-tags-tag {
  font-size: .9 em;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .ProjectHeader * {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
  }
  .ProjectHeader {
    column-gap: 10px;
    row-gap: 5px;
    display: grid;
    grid-area: header;
    grid-template: 
    "content1"
    "content2"
    "content3"
      / max-content;
  }
  .label {
    display: none;
  }
  .ProjectHeader-title-content {
    font-size: 2em;
    text-align: center;
  }
  .ProjectHeader-links-content {
    text-align: center;
  }
}
@media only screen and (orientation: portrait) and (min-width: 1000px) {
   .ProjectHeader {
    column-gap: 10px;
    row-gap: 5px;
    display: grid;
    grid-area: header;
    grid-template: 
    "label1 content1"
    "label2 content2"
    "label3 content3"
      / max-content max-content;
  }
  .ProjectHeader-tags-tag::before {
    content: none;
  }
}