.ProjectHeader {
  border-bottom: solid 1px black;
  display: grid;
  grid-area: header;
  grid-template: 
    ".. title links"
    "tags tags tags"
    / 1fr max-content 1fr;
  padding-bottom: 15px;
  width: 90%;
}
.ProjectHeader-title {
  background-color: white;
  grid-area: title;
  width: 100%;
}
.ProjectHeader-links {
  grid-area: links;
  margin-left: 10px;
}
.ProjectHeader-links-link {
  padding-right: .5em;
}
.ProjectHeader-links-link::after {
  width: calc(100% - 16px);
}

@media only screen and (max-width: 768px) {
  .ProjectHeader {
    border-bottom: none;
    row-gap: 10px;
    display: grid;
    grid-area: header;
    grid-template: 
    "title" 31px
    "links" 
    "tags"  
      / 100%;
    padding-bottom: 0;
  }
  .ProjectHeader-title {
    text-align: center;
  }
  .ProjectHeader-links {
    margin: -10px auto 10px auto;
    text-align: center;
  }
}