.ProjectUnits {
  height: fit-content;
  width: 70%;
}
.ProjectUnits-unit {
  display: grid;
  margin: 0px 0px 30px 0px;
}
.ProjectUnits-unit.left {
  grid-template:  "image title" min-content
                  "image text" 1fr / 1fr 3fr;
}
.ProjectUnits-unit.right {
  grid-template:  "title image" min-content
                  "text image" 1fr / 3fr 1fr;
}
.ProjectUnits-title {
  font-weight: bold;
  grid-area: title;
  margin-top: 0;
  text-align: left;
  text-transform: uppercase;
  width: 80%;
}
.ProjectUnits .SVGImg {
  border: solid;
  border-width: 4px;
  grid-area: image;
  width: 90%;
}
.ProjectUnits-text {
  grid-area: text;
  margin-top: 1em;
  text-align: justify;
  width: 80%;
}
/* .ProjectUnits-text.left {
  text-align: left;
}
.ProjectUnits-text.right {
  text-align: right;
} */
.ProjectUnits .SVGImg-image {
  width: 100%;
}