.ProjectUnits {
  height: fit-content;
  width: 70%;
}
.ProjectUnits-unit {
  display: grid;
  margin: 0px 0px 30px 0px;
}
.ProjectUnits-unit.left {
  grid-template:  "image title" min-content
                  "image text" 1fr / 1fr 3fr;
}
.ProjectUnits-unit.right {
  grid-template:  "title image" min-content
                  "text image" 1fr / 3fr 1fr;
}
.ProjectUnits-title {
  font-weight: bold;
  grid-area: title;
  margin-top: 0;
  text-align: left;
  text-transform: uppercase;
  width: 80%;
}
.ProjectUnits .SVGImg {
  grid-area: image;
  width: 90%;
}
.ProjectUnits-text {
  grid-area: text;
  margin-top: 1em;
  text-align: left;
  width: 80%;
}
.ProjectUnits .SVGImg-image {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .ProjectUnits {
    width: 100%;
  }
  .ProjectUnits-unit.right, .ProjectUnits-unit.left {
    grid-template:  
                    "image" min-content
                    "title" min-content
                    "text" min-content
                    / 1fr;
  }
  .ProjectUnits .SVGImg-image {
    border: solid;
    width: 50%;
  }
  .ProjectUnits-title {
    text-align: center;
  }
  .ProjectUnits-text {
    width: 95%;
  }
}
@media only screen and (orientation: portrait) and (min-width: 1000px) {
  .ProjectUnits {
    width: 100%;
  }
  .ProjectUnits-unit.right, .ProjectUnits-unit.left {
    grid-template:  
                    "image" min-content
                    "title" min-content
                    "text" min-content
                    / 1fr;
  }
  .ProjectUnits .SVGImg-image {
    border: solid;
    width: 50%;
  }
  .ProjectUnits-title {
    text-align: center;
  }
  .ProjectUnits-text {
    width: 95%;
  }
}