.ProjectTags {
  display: flex;  
  flex-wrap: wrap;
  grid-area: tags;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  width: max-content;
}
.ProjectTags-tag {
  padding-right: 20px;
}
.ProjectTags-tag::before {
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  background-image: url(../../assets/icons/box_checked.svg);
}
@media only screen and (max-width: 768px)  {
  .ProjectTags {
    flex-direction: column;
    margin: auto;
    width: max-content;
  }
  .ProjectTags-tag {
    margin-left: 0;
    padding-right: 0px;
  }
}