.ProjectUnits {
  height: fit-content;
  width: 90%;
}
.ProjectUnits-unit {
  display: grid;
}
.ProjectUnits-unit.left {
  grid-template:  "image title" auto
                  "image text" min-content / 1fr 2fr;
}
.ProjectUnits-unit.right {
  grid-template:  "title image" auto
                  "text image" min-content / 2fr 1fr;
}
.ProjectUnits-title {
  grid-area: title;
}
.ProjectUnits .SVGImg {
  grid-area: image;
}
.ProjectUnits-text {
  grid-area: text;
}