.ProjectSummary * {
  font-family: 'Inconsolata', sans-serif;
}
.label {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  margin: 0;
  text-decoration: underline;
}
.content {
  font-size: 1.5em;
  height: 100%;
  margin-left: 0;
  text-align: left;
  width: 100%;
  
}
.ProjectSummary {
  column-gap: 20px;
  row-gap: 10px;
  display: grid;
  grid-area: overview;
  grid-template: 
  "label1 content1 label3 content3"
  "label2 content2 label3 content3"
  "...... ........ label3 content3"
    / max-content max-content min-content max-content;
}

.ProjectSummary-title-label {
  grid-area: label1;
}
.ProjectSummary-title-content {
  grid-area: content1;
}
.ProjectSummary-links-label {
  grid-area: label2;
}
.ProjectSummary-links-content {
  grid-area: content2;
}
.ProjectSummary-links-link {
  padding-right: .5em;
}
.ProjectSummary-tags-label {
  grid-area: label3;
}
.ProjectSummary-tags-content {
  grid-area: content3;
  list-style: none;
  padding: 0;
}
.ProjectSummary-tags-tag::before {
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  background-image: url(../../assets/icons/box_checked.svg);
}
.ProjectSummary-tags-tag {
  font-size: .9 em;
  text-align: left;
}