.ProjectDetail {
  display: grid;
  grid-template:
    "title" 1fr
    "links" .5fr
    "tags"  .5fr
    "units"  minmax(400px, min-content)
    / 100%;
  height: 100%;
  width: 100%;
}
.ProjectDetail-exit-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
}
.ProjectDetail .ProjectTitle {
  grid-area: title;
}
.ProjectDetail .SVGImg {
  grid-area: images;
  height: fit-content;
  margin-top: 0;
  width: fit-content;
}
.ProjectDetail .SVGImg-image {
  width: 90%;
}
.ProjectDetail-links-section {
  grid-area: links;
}
.ProjectDetail-link {
  font-size: 1.3em;
  padding: 2px 4px 2px 4px;
}
.ProjectDetail-summary {
  grid-area: text;
  margin: 30px auto 30px auto;
  width: 80%;
}
