.About {
  margin-top: 10px;
  padding-bottom: 35px;
  padding-top: 30px;
  width: 80%;
  z-index: 2;
}
.About-unit {
  margin-bottom: 15px;
  width: 80%;
}
.About-topic {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 5px;
  margin-left: -10px;
  text-align: left;
}
.About-topic::before {
  content: "";
  background-image: url("../../assets/r_arrow_pink.svg");
  background-repeat: no-repeat;
  height: 1.5em; width: 1.5em;
  margin-left: -1.7em;
  position: absolute;
}
.About-text {
  line-height: 1.5;
  text-align: left;

}

@media only screen and (max-width: 768px)  {
  .About {
    margin-bottom: 50px;
    margin-top: 100px !important;
    width: 100%;
  }
  .About-topic::before {
    height: 1.2em; width: 1.2em;
    margin-left: -.8em;
  }
}