.Home {
  display: grid;
  grid-template:
    "content" min-content
    "footer" 1fr
    / 1fr;
  margin: 50px auto auto 140px;
  position: relative;
  width: 700px;
}
.Home-content {
  background-color: white;
  border: 4px double #FED5F2;
  grid-area: content;
  height: fit-content;
  outline: 10px solid white;
  padding: 30px 40px 70px 40px;
}
.Home-footer {
  display: grid;
  grid-area: footer;
  grid-template:
    "sig pic"
    / max-content min-content;
  margin: -80px auto auto auto;
}
.Home-header {
  margin-bottom: 20px;
  text-align: left;
}
.Home-pic {
  background-color: white;
  border: 3px dotted #FED5F2; outline: 3px solid white; padding: 3px;
  box-shadow: 3px -3px 16px -1px rgba(74,74,74,0.49);
  -webkit-box-shadow: 3px -3px 16px -1px rgba(74,74,74,0.49); 
  margin: -30px auto auto 440px;
  position: absolute;
  width: 9em;
  z-index: 500;
}
.Home-sig {
  font-size: 2em;
  grid-area: sig;
  margin: 20px auto auto 280px;
  text-align: center;
}
.Home-text {
  font-size: 1.4em;
  text-align: left;
}
.Home-text.first, .Home-text.second {
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .Home {
    grid-template:
      "content"
      "footer";
    margin: auto auto auto -4px;
    position: absolute;
    top: 150px; left: 50%;
    transform: translateX(-50%);
    width: 85vw;
  }
  .Home-content {
    padding: 10px 0px 70px 0px;
    width: 100%;
  }
  .Home-footer {
    grid-template: 
      "pic";
    margin-top: -60px;
    width: 80%;
  }
  .Home-header {
    margin-bottom: 0px;
    text-align: center;
  }
  .Home-pic {
    border-width: 1px; 
    grid-area: pic;
    margin: 5px auto auto auto;
    outline: none; 
    padding: 0px;
    position: relative;
    width: 120px;
  }
  .Home-sig {
    display: none;
  }
  .Home-text {
    font-size: 1.2em;
    margin: 20px auto auto auto;
    text-align: center;
    width: 95%;
  }
  .Home-text.first {
    margin-top: 10px;
  }
  .Home-text.third {
    width: 10em;
  }
}