.Home {
  display: grid;
  grid-template:
    "text ..." min-content
    "text pic" 1fr
    "text pic" 1fr
    / 1fr 0;
  margin-left: 140px;
  margin-top: 50px;
  position: relative;
  width: 550px;
}
.Home-pic {
  border: 1px solid white;
  grid-area: pic;
  margin-left: -52px;
  margin-top: 120px;
  width: 15em;
}
.Home-content {
  grid-area: text;
  height: fit-content;
  margin: unset;
}
.Home-text {
  font-size: 1.4em;
  margin: unset;
  text-align: left;
}
.Home-text.first {
  margin-top: 40px;
  text-align: center;
  width: 130% !important;
}
.Home-text.second {
  margin-left: -120px;
  margin-top: 70px;
  text-indent: 20px;
  width: 120%;
}
.Home-text.third {
  margin-left: 165px;
  margin-top: 70px;
  width: max-content;
}
.text-span {
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .Home {
    grid-template:
      "pic" min-content
      "text" min-content
      /100%;
    margin-top: 170px !important;
    margin-left: unset;
    position: static;
    width: 100vw;
  }
  .Home-content {
    width: 100%;
  }
  .Home-pic {
    border: none;
    margin-left: unset;
    margin: auto;
    margin-top: -15%;
    padding: 20px 0 20px 0;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    width: 50%;
  }
  .Home-text {
    font-size: 1.2em;
    margin-top: 20px !important;
    width: 95% !important;
  }
  .Home-text.first {
    margin: auto;
    text-align: center;
    width: 95% !important;
  }
  .Home-text.second {
    margin-left: unset;
    text-align: center;
    text-indent: unset;
  }
  .Home-text.third {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60% !important;
  }
}