.Home {
  display: grid;
  grid-template:
    "text ..." min-content
    "text pic" 1fr
    "text pic" 1fr
    / 1fr 0;
  margin-left: 160px;
  margin-top: 40px;
  position: relative;
  width: 550px;
}
.Home-pic {
  border: 1px solid white;
  grid-area: pic;
  margin-left: -52px;
  margin-top: 150px;
  width: 10em;
}
.Home-content {
  grid-area: text;
  height: fit-content;
  margin: unset;
}
.Home-text {
  font-size: 1.4em;
  margin: unset;
  text-align: left;
}
.Home-text.first {
  margin-top: 40px;
  text-align: center;
  width: 130% !important;
}
.Home-text.second {
  margin-left: -120px;
  margin-top: 70px;
  text-indent: 20px;
  width: 120%;
}
.Home-text.third {
  margin-left: 165px;
  margin-top: 90px;
  width: max-content;
}
.text-span {
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .Home {
    grid-template:
      "pic"
      "text";
    margin-top: 40% !important;
  }
  .Home-content {
    font-size: unset;
    width: 90%;
  }
  .Home-pic {
    border: none;
    margin-left: unset;
    margin-top: -15%;
    padding: 8% 25% 8% 25%;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    width: 50%;
  }
}