.Portfolio {
  background-color: white;
  margin: 30px auto 100px auto;
  padding: 30px 0px 30px 0px;
  width: 800px;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .Portfolio {
    border: none;
    outline: none;
    margin: 30px auto 60px auto;
    padding-top: 0;
    width: 100%;
  }
}