.Skills {
  background-color: white;
  border: 4px double #FED5F2;
  outline: 10px solid white;
  margin-top: 50px;
  padding: 20px 40px 20px 40px;
  text-align: center;
  z-index: 2;
}
.Skills-table {
  display: grid;
  grid-template:
    "category" min-content
    "row1"
    "row2";
}
.Skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
.Skills-div {
  padding: 10px 10px 10px 10px;
  width: 100px;
}
.Skills-icon {
  width: 100%;
}
.Skills-name {
  width: min-content;
}
.Skills-category {
  grid-area: category;
}
.row1 {
  grid-area: row1;
}
.row2 {
  grid-area: row2;
}
@media only screen and (max-width: 768px) {
  .Skills {
    border: none;
    outline: none;
    margin-top: 15px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .Skills-category {
    padding: 10px 0 10px 0;
  }
}