.Skills {
  background-color: white;
  margin-top: 30px;
  outline: 10px solid grey;
  padding: 40px 0px 40px 0px;
  text-align: center;
  width: 800px;
  z-index: 2;
}
.Skills-table {
  display: grid;
  grid-template:
    "category" min-content
    "row1"
    "row2";
}
.Skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
.Skills-div {
  padding: 10px 10px 10px 10px;
  width: 140px;
}
.Skills-icon {
  background-color: rgb(195, 190, 190);
  border-radius: 50%;
  box-shadow: 3px -3px 16px -1px rgba(74,74,74,0.49);
  -webkit-box-shadow: 3px -3px 16px -1px rgba(74,74,74,0.49); 
  width: 100%;
}
.Skills-name {
  width: min-content;
}
.Skills-category {
  grid-area: category;
  padding-bottom: 20px;
}
.row1 {
  grid-area: row1;
}
.row2 {
  grid-area: row2;
}
@media only screen and (max-width: 768px) {
  .Skills {
    margin-top: unset;
    outline: none;
    padding: 0px 0px 20px 0px;
    position: absolute;
    top: 40px; left: 50%;
    transform: translateX(-50%);
    width: 85vw;
  }
  .Skills-category {
    padding: 10px 0 20px 0;
  }
  .row2 {
    width: 100%;
  }
  .Skills-div {
    padding-bottom: 0;
    padding-top: 0;
  }
  .Skills-icon {
    width: 80%;
  }
}