.PicSlider.SVGImg-container {
  background-color: black;
  border: solid;
  border-color:darkslateblue;
  border-width: 4px;
  display: flex;
  align-content: center;
  grid-column: 2;
  grid-row: 2;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 98%;
}
.PicSlider.container {
  display: grid;
  grid-template-columns: 1fr 16fr 1fr;
  grid-template-rows: min-content min-content min-content;
  margin: auto;
  width: 80%;
}
.PicSlider.title {
  grid-column: 2;
  grid-row: 1;
}
.PicSlider.btn {
  background-color: transparent;
  border: none;
  color:darkgray;
  justify-self: center;
  align-self: center;
}
.PicSlider.btn-left {
  grid-column: 1;
  grid-row:2;
}
.PicSlider.btn-right {
  grid-column: 3;
  grid-row: 2;
}
.PicSlider.SVGImg-image {
  width: 100%;
}
.nav-dot-container {
  margin-top: 3%;
  background-color: transparent;
  display: flex;
  grid-column: 2;
  grid-row: 3;
  justify-content: space-between;
  width: 80%;
}
.nav-pic { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.nav-thumb {
  height: 40px;
  width: 40px;
}
.nav-label {
  height: 40px;
  width: 40px;
}
:checked + .nav-thumb {
  border: solid;
  border-color:coral;
}

.hidden {
  display: none;
}
.fade-in {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.fade-out {
  animation: fadeOut ease 1.5s;
  -webkit-animation: fadeOut ease 1.5s;
  -moz-animation: fadeOut ease 1.5s;
  -o-animation: fadeOut ease 1.5s;
  -ms-animation: fadeOut ease 1.5s;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}