.ProjectDetail {
  display: grid;
  grid-template:
    ". title title" 1fr
    "images tags tags"  .5fr
    "images text text"  minmax(400px, min-content)
    / 1fr 2fr 2fr;
  height: 100%;
  width: 100%;
}
.ProjectDetail-exit-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
}
.ProjectDetail .ProjectTitle {
  grid-area: title;
}
.ProjectDetail .SVGImg {
  grid-area: images;
  height: fit-content;
  margin-top: 0;
  width: fit-content;
}
.ProjectDetail .SVGImg-image {
  width: 90%;
}
