.ProjectDetail {
  display: grid;
  grid-template:
    "title title title" 1fr
    "images tags tags"  1.5fr
    "images text text"  minmax(400px, min-content)
    / 1fr 2fr 2fr;
  height: 100%;
  width: 100%;
}
.ProjectDetail-exit-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
}
.ProjectDetail .ProjectTitle {
  grid-area: title;
}
.ProjectDetail.SVGImg-container {
  grid-area: images;
  width: 25%;
  height: 25%;
}
.ProjectDetail.SVGImg-image {
  width: 100%;
}
.ProjectDetailTags.focus-list {
  grid-area: tags;
  width: 50%;
}