.ProjectDetail {
  display: grid;
  grid-template-areas:
    "title title title"
    "images tags tags"
    "images text text";
  height: 100%;
  width: 100%;
}
.ProjectDetail-exit-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
}
.ProjectDetail .ProjectTitle {
  grid-area: title;
}
.ProjectDetail.SVGImg-container {
  grid-area: images;
  width: 25%;
  height: 25%;
}
.ProjectDetail.SVGImg-image {
  width: 100%;
}
.ProjectDetailTags.focus-list {
  grid-area: text;
  width: 50%;
}