.App-header {
  display: grid;
  grid-template: 
    "name navbar"
    / max-content 1fr ;
  height: min-content;
  left: 15px;
  position: fixed;
  padding: 15px 0px 15px 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
}
.App-name {
  grid-area: name;
  height: fit-content;
  margin-bottom: 0;
  margin-left: 20px;
  text-align: left;
}