.App {
  height: fit-content;
  position: relative;
}
.App-header {
  background-color: white;
  display: grid;
  grid-template: 
    "name navbar"
    / 1fr 1fr ;
  left: 0px;
  position: fixed;
  padding: 15px 0px 0px 0px;
  top: 0px;
  width: 100%;
  z-index: 3;
}
.App-header::before {
  background-image: url("../../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 61px;
  left: 0px;
  opacity: 0.6;
  position: fixed;
  padding: 15px 0px 0px 0px;
  top: 0px;
  width: 100%;
  z-index: 4;
}
.App-name {
  grid-area: name;
  height: fit-content;
  margin-bottom: 0;
  margin-left: 60px;
  position: relative;
  text-align: left;
  z-index: 5;
}
.App-screen {
  position:absolute;
  min-height: 100vh;
  width: 100%;
}
.App-screen::before {
  content: "";
  background-image: url("../../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
}
.App-filter {
  filter:blur(2px);
  opacity: 0.4;
  position:absolute;
  width: 100%;
  z-index: 500;
}

@media only screen and (max-width: 768px) {
  .App {
    min-height: 100vh;
  }
  .App-header {
    background-color: transparent;
    grid-template:
      "name" min-content
      "navbar" min-content;
    left: 0;
    padding: 0;
  }
  .App-name {
    margin-left: 0;
    padding: 10px 0px 2px 0px;
    width: 100%;
  }
  .App-header::before {
    background-image: url("../../assets/images/background_mobile.jpg");
    background-size: 100vw 100vh;
    height: 78px;
    opacity: 1;
  }
  .App-screen::before {
    background-image: url("../../assets/images/background_mobile.jpg");
    background-size: 100vw 100%;
  }
  /* .App-screen::before {
    content: none;
  } */
}