.App {
  position: relative;
}
.App-header {
  background-color: white;
  clip-path: inset(0);
  display: grid;
  grid-template: 
    "name navbar sticky"
    / min-content 2fr 1fr;
    overflow:visible;
  position: fixed;
  padding: 15px 0px 1px 0px;
  width: 100%;
  z-index: 3;
}
.App-header::before {
  background-image: url("../../assets/images/dark_background.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  content: "";
  height: 100%; width: 100%;
  padding: 0px 0px 0px 0px;
  position: fixed;
  top: 0px;
}
.App-name {
  grid-area: name;
  margin: auto auto 0 60px;
  position: relative;
  width: 455px;
  z-index: 5;
}
.App-screen {
  position:absolute;
  height: 100%; width: 100vw; 
}
.App-screen::before {
  background-image: url("../../assets/images/dark_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100%; 
  width: 100%;
  position: fixed;
  z-index: 0;
}
.App-filter {
  filter:blur(2px);
  opacity: 0.4;
  position: absolute;
  width: 100%;
  z-index: 500;
}
@media only screen and (max-width: 900px) {
  .App-name {
    margin-left: 0;
  }
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .App-header::before, .App-screen::before {
    background-image: url("../../assets/images/background_mobile3.svg");
    background-size: cover;
    overflow: hidden;
   
  }
}
@media only screen and (max-width: 768px) {
  .App-header {
    background-color: transparent;
    grid-template:
      "name" 
      "navbar"; 
    height: 100px;
    padding: 0;
  }

  .App-header::before {
    opacity: 1;
    padding: 0;
  }
  .App-name {
    margin: auto;
    width: 60%;
  }
}
@media only screen and (max-width: 425px) {
  .App-header {
    height: 100px;
  }
  .App-name {
    width: 100%;
  }
}