.Canvas {
  align-items: center;
  display:grid;
  /* min-height: 300px; */
  padding: 2.5em 4em 2em 4em;
  position: relative;
  margin-top: 4.5em;
  /* margin-bottom: 20px; */
  width: 100%;
  max-width: 1000px;
  /* z-index: 5; */
}

@media only screen and (max-width: 768px) {
  .Canvas {
    /* margin-top: 8em; */
    padding: 0 0 0 0;
  }
  /* .Canvas::after {
    background-color: rgb(211, 211, 211);
    background-image: url("../../assets/images/background_mobile.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    bottom: 0;
    content: "";
    height: 50px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 3;
  } */
}