.Canvas {
  align-items: center;
  border-radius: .4em;
  display: grid;
  min-height: 300px;
  padding: 2.5em 4em 2em 4em;
  margin-top: 4.5em;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1000px;
}

@media only screen and (max-width: 768px) {
  .Canvas {
    margin-bottom: 0;
    margin-top: 0;
    min-height:100%;
    padding: 0 0 0 0;
    width: 100%;
  }
  .Canvas::after {
    background-color: rgb(211, 211, 211);
    bottom: 0;
    content: "";
    height: 50px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 3;
  }
}