.Canvas {
  align-items: center;
  /* border: solid;
  border-color: black; */
  border-radius: .4em;
  /* border-width: 5px; */
  display: grid;
  min-height: 460px;
  padding: 2% 2% 2% 2%;
  margin-top: 6em;
  margin-bottom: 50px;
  width: 80%;
  max-width: 1000px;
}

@media only screen and (max-width: 768px) {
  .Canvas {
    border: none;
    margin-top: 0;
    padding-top: 30%;
    max-width: unset;
    min-height: 100vh;
    width: 93%;
  }
  .Canvas::after {
    background-color: #16BA55;
    bottom: 0;
    content: "";
    height: 70px;
    left: 0;
    position: fixed;
    width: 100%;
  }
}
@media only screen and (orientation: portrait) and (min-width: 1000px) {
  .Canvas {
    border: none;
    font-size: 2.5em;
    padding-top: 35%;
    margin-top: 0;
    max-width: unset;
    width: 95%;
  }
  .Canvas::after {
    background-color: #16BA55;
    bottom: 0;
    content: "";
    height: 150px;
    left: 0;
    position: fixed;
    width: 100%;
  }
}