textarea {
  resize: none;
}

.ContactForm-form {
  border: 1px solid lightgray !important;
  outline: 8px solid white;
  justify-content: start;
  align-content: start;
  column-gap: 20px;
  display: grid;
  grid-template:
    "title title" min-content
    "name email" min-content
    "message message" min-content
    "submit submit" min-content
    / 1fr 1fr;
  margin: auto;
  padding: 20px 30px 20px 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 25%);
  z-index: 1001;
}
.ContactForm-title {
  grid-area: title;
  padding-bottom: 10px;
}
.ContactForm-unit {
  justify-content: start;
  display: grid;
  grid-template:
    "label" min-content
    "input" min-content
    / 1fr;
  margin-top: 0;
  width: 100%;
}
.ContactForm-unit-name {
  grid-area: name;
}
.ContactForm-unit-email {
  grid-area: email;
}
.ContactForm-unit-message {
  grid-area: message;
}
.ContactForm-label {
  grid-area: label;
  margin: 0px 0px 10px 0px;
  text-align: left !important;
  width: 100%;
}
.ContactForm-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(105, 105, 105);
  border-radius: 0;
  grid-area: input;
  margin-bottom: 30px;
  margin-left: 0;
  text-align: left;
  width: 150px;
}
.ContactForm-input-message {
  height: 150px;
  width: 322px !important;
}
.ContactForm-cancel-btn, .ContactForm-submit-btn {
  border-style: solid;
  border-width: 1px;
}
.ContactForm-cancel-btn {
  border-radius: 50%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: absolute;
  top: 15px; right: 15px;
}
.ContactForm-submit-btn {
  border-style: solid;
  grid-area: submit;
  padding: 10px 10px 10px 10px;
}
.ContactForm-blocker {
  background-color: transparent;
  position: absolute;
  height: 100vh; width: 100vw;
  z-index: 999;
}
