.Navbar {
  display: grid;
  height: fit-content;
  grid-area: navbar;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 2em;
  margin-bottom: .4em;
  width: fit-content;
}
.Navbar-btn {
  border: none;
  font-weight: 600;
  margin-bottom: 0;
  font-size: 1.3em;
  height: fit-content;
  padding: 0;
}

.activeBtn {
  text-decoration:underline !important;
}
@media only screen and (max-width: 768px) {
  .Navbar {
    background-color: #FFF5FB;
    grid-template-columns: fit-content fit-content fit-content;
    margin-left: 0px;
    width: 100%;
  }
  .Navbar-btn {
    border:outset;
    border-color: #ebf0eb;
    color:#C23484;
    /* color: #FF5D95; */
    padding: 5px 0px 5px 0px;
    text-align: center;
    width: 100%;
  }
}
@media only screen and (orientation: portrait) and (min-width: 1000px) {
  .App-name {
    font-size: 7em;
  }
}