.StickyNav {
  border: none;
  border-radius: .4em;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 8em;
  left: 1em;
  z-index: 1000;
}

@media only screen and (max-width: 768px) {
  .StickyNav {
    left: 50%;
    margin-left: -42px;
    bottom: 5px;
    flex-direction: row;
    top: initial;
  }
  .StickyNav-icon {
    height: 25px !important;
    width: 25px !important;
  }
  .StickyNav-btn-home {
    padding-right: 10px !important;
  }
  .StickyNav-btn-email {
    padding-left: 10px !important;
  }
}