.StickyNav {
  border: none;
  border-radius: .4em;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 8em; left: 1em;
  z-index: 1000;
}

@media only screen and (max-width: 768px) {
  .StickyNav {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin: auto 0px 5px auto;
    top: unset; bottom: 5px; right: 0px;
    width: max-content;
  }
  .StickyNav-icon {
    height: 25px !important;
    width: 25px !important;
  }
}