.Home {
  padding-top: 75px;
  position: relative;
  height: 90%;
  width: 90%;
}
.Home-pic {
  float: right;
  width: 15%;
}
.Home-content {
  font-size: 1.2em;
  text-align: left;
}
.Home-text {
  text-align: left;
}
.Home-text:not(:first-child) {
  margin-top: 10px;
}
/* .Home-quote {
  font-weight: 400;
  font-size: 1.7em;
} */