.Home {
  padding-top: 75px;
  position: relative;
  height: 90%;
  width: 90%;
}
.Home-pic {
  right: 0;
  top: 5%;
  position: absolute;
  width: 15%;
}
/* .Home-quote {
  font-weight: 400;
  font-size: 1.7em;
} */