.Skills {
  margin-top: 0;
}
.Skills-table {
  display: grid;
  grid-template:
    "category"
    "row1"
    "row2";
    margin-top: 15%;
}
.Skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
.Skills-div {
  padding: 10px 10px 10px 10px;
  width: 100px;
}
.Skills-name {
  width: min-content;
}
.Skills-category {
  grid-area: category;
}
.row1 {
  grid-area: row1;
}
.row2 {
  grid-area: row2;
}
@media only screen and (max-width: 768px) {
  .Skills {
    font-size: 1.2em;
    margin-top: 20%;
  }
  .Skills-category {
    padding: 5% 10% 10% 10%;
  }
}
@media only screen and (orientation: portrait) and (min-width: 1000px) {
  .Skills {
    font-size: 1.5em;
  }
  .Skills-category {
    padding: 0% 5% 5% 5%;
  }
  .Skills-div {
    width: 400px;
  }
  .Skills-icon {
    width: 50%;
  }
}
