.Skills {
  height: 100%;
  width: 100%;
}
.Skills-list{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  width: 90%;
}
.Skills-div {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr;
  height: 100%;
  width: 100%;
} 
.Skills-name {
  width: min-content;
}
/* .Skills-div-0 { transform: translate(-300%, 200%); }
.Skills-div-1 { transform: translate(-225%, 110%); } */

/* .Skills-div-0   { transform: rotate(30deg) translate(130px); }
.Skills-div-1    { transform: rotate(-60deg) translate(130px); }
.Skills-div-2  { transform: rotate(-90deg) translate(130px); }
.Skills-div-3   { transform: rotate(-120deg) translate(130px); }
.Skills-div-4   { transform: rotate(-150deg) translate(130px); }
.six   { transform: rotate(-130deg) translate(130px); }
.seven { transform: rotate(-150deg) translate(130px); } */
