.Skills {
  margin-top: 0;
}
.Skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Skills-div {
  padding: 10px 10px 10px 10px;
  width: 100px;
}
.Skills-name {
  width: min-content;
}
@media only screen and (max-width: 768px) {
  .Skills {
    margin-top: 15%;
  }
}
@media only screen and (orientation: portrait) and (min-width: 1000px) {
  .Skills {
    font-size: 4em;
    margin-top: 15%;
  }
  .Skills-category {
    padding-bottom: 5%;
  }
  .Skills-div {
    width: 400px;
  }
  .Skills-icon {
    width: 50%;
  }
}
