/* body {
  background-color: seashell;
  margin: 0px;
}
h1 {
  font-family: helvetica, arial, sans-serif;
  font-size: 24px;
  margin-top: 30px;
  text-align: center;
} */

#hide-effect {
  display: initial;
  visibility:hidden;
  opacity: 0;
  transition: visibility 0s 5s , opacity 5s linear;
}
#show-effect {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 5s , opacity 5s linear;
}
.pic-frame-inner {
  background-color: black;
  border: solid;
  border-color:darkslateblue;
  border-width: 4px;
  margin: 25px 25px 15px 25px;
  height: 75%;
}
.pic-frame-outer {
  background-color: white;
  border: solid;
  border-color: lightsteelblue;
  height: 80%;
  margin: auto;
  margin-top: 20px;
  width: 80%;
}
.play-btn {
  background-color: white;
  border-color:rosybrown;
  border-radius: 10px;
  height: 40px;
  width: 80px;
}
.slider {
  background-color:black;
  display: flex;
  align-content: center;
  justify-content: center;
  justify-items:center;
  position: absolute;
  text-align: center;
}
.slider-btn {
  background-color: transparent;
  border: none;
  color:darkgray;
  font-size: 48px;
}
.slider-btn-div {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.slider-btn-left {
  float: left;
  margin-top: 25%;
}
.slider-btn-right {
  float: right;
  margin-top: 25%;
}
.nav-dot-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.hidden {
  display: none;
}
.fade-in {
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.fade-out {
  animation: fadeOut ease 1.5s;
  -webkit-animation: fadeOut ease 1.5s;
  -moz-animation: fadeOut ease 1.5s;
  -o-animation: fadeOut ease 1.5s;
  -ms-animation: fadeOut ease 1.5s;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}