* {
  background-color:rgb(255, 251, 252);
  color:rgb(32, 32, 32);
}
h2 {
  font-weight:400;
  margin-bottom: 15px;
}
h3 {
  font-weight: 400;
  font-size: 1.4em;
}
p {
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: left;
  width: 60%;
}
q {
  font-weight: 500;
  font-size: 1.7em;
}
.Canvas.main {
  height: 500px;
  margin-top: 130px;
  position: relative;
  width: 890px;
}
.Canvas.content {
  background-color:rgb(255, 251, 252);
  color:rgb(32, 32, 32);
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}