#root {
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  text-align: center;
}
body {
  height: 100%;
}
h1 {
  font-size: 2.5em;
  font-weight:300;
}
h2 {
  font-weight:400;
  margin-bottom: 15px;
}
h3 {
  font-weight: 300;
  font-size: 1.3em;
  margin-top: 15px;
}
.colors-primary {
  background-color: #1C666C;
  color:#A6DBED ;
}
.colors-secondary {
  background-color: #D3ECFF;
  color:#235B19;
}
.colors-nav-main {
  background-color: transparent;
  color: #A4FFBF;
}
.colors-nav-sticky {
  color: black;
  background-color: white;
}
.colors3 {
  background-color: #414728;
  color: #FFB000;
}
.colors2 {
  background-color: rgb(255, 251, 252);
  color: rgb(32, 32, 32);
}