@import "~react-image-gallery/styles/css/image-gallery.css";
* {

  font-family: 'Montserrat', sans-serif;
  margin: auto;
  text-align: center;
}
body {
  background-color: rgb(32, 32, 32);

}

h1 {
  font-size: 3em;
  font-weight:300;
}
h2 {
  font-weight:400;
  margin-bottom: 15px;
}
h3 {
  font-weight: 300;
  font-size: 1.3em;
  margin-top: 15px;
}
p {
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: left;
  width: 90%;
}
q {
  font-weight: 400;
  font-size: 1.7em;
}

.homeBtn {
  grid-column: 3;
}
.thumbnail {
  height: 80px;
  width: 80px;
}
.image-gallery-thumbnail-image {
  margin-top: 0;
}

.Portfolio.container {
  position: relative;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}
