* {
  margin: auto;
}
#root {
  position: absolute;
  width: 100%; height: 100%;
}

/* HANDWRITING - SKILLS HEADER, ABOUT HEADER, PROJECT HEADER TITLE */
h1 {
  font-family: "Nothing You Could Do", Helvetica, Arial, sans-serif;
  font-size: 2.5em;
}
/* PROJECT TITLE, CONTACT FORM HEADER */
h2 {
  font-family: "Heebo", Helvetica, Arial, sans-serif !important;
  font-size: 2.2em;
  font-weight: 600;
  margin-bottom: 5px;
}
/* ABOUT TOPIC HEADERS */
h3 {
  font-family: "Nothing You Could Do", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}
/* PROJECT UNIT TOPICS */
h4 {
  font-family: "Heebo", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.3em;
}
/* PROJECT HEADER LINKS, CONTACT FORM SECTION TITLES */
h5 {
  font-family: "Heebo", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
}

/* NAVBAR BTNS */
.Navbar-btn {
  font-family: "Heebo", Helvetica, Arial, sans-serif;
  font-size: 1.9em;
  font-weight: 500;
}
/* PROJECT TAGS */
li {
  font-family: "Heebo", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 400;
}
/* TEXT */
p {
  font-family: "Baskerville", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.4;
}
/* LINKS */
a {
  white-space: nowrap;
  color: #ffffff;
}
/* ICONS */
svg.MuiSvgIcon-root {
  display: block;
}

/* LINK EFFECT - https://codepen.io/markmead/pen/drORWG */
$link: #EC407A;
a {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #EC407A;
  &::after {
    content: "";
    background: rgba($link, 0.25);
    position: absolute;
    left: .4em;
    bottom: -.2em;
    width: calc(100% - .2em);
    height: calc(100% - .5em);
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  }
  &:hover:after {
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 100%;
  }
}

/* COLORS */

.colors-StickyNav {
  background-color: transparent;
}
.colors-Navbar {
  background: transparent;
  color: white;
}
.colors-Navbar:hover, .colors-Navbar.active {
  color: yellow;
}
.colors-Navbar:hover.colors-Navbar.active {
  border-color:yellow;
}

.colors-Navbar.active {
  border-color:white;
}
.ContactForm-cancel-btn:hover, .ContactForm-submit-btn:hover {
  background-color:#ffffff;
}
.colors-contact-form {
  background-color:#f3fdef;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  html {
    height: -webkit-fill-available;
  }
  /* HANDWRITING - SKILLS HEADER, ABOUT HEADER, PROJECT HEADER TITLE */
  h1 {
    font-size: 2.2em;
  }
  /* CONTACT FORM HEADER */
  h2 {
    color: #696969;
    font-size: 1.5em;
    font-weight: 500;
  }
  /* ABOUT TOPIC HEADERS */
  h3 {
    font-size: 1.2em;
  }
  /* NAVBAR BTNS */
  .Navbar-btn {
    font-size: 1.4em;
    font-weight: 600;
  }
  .Navbar-btn.active {
    font-weight: 700;
  }
  /* TEXT */
  p {
    color: black;
    font-size: 1.1em;
  }

  /* COLORS */
  .App-screen {
    background-color: transparent;
  }
  // .colors-StickyNav {
  //   background-color: rgb(255, 255, 255);
  //   border: 1px solid darkgray !important;
  // }
}