#root {
  width: 100%;
}

* {
  font-family: 'Baskerville', serif;
  margin: auto;
  text-align: center;
}
/* HEADER NAME */
h1 {
  font-family: "Prompt", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 2.5em;
}
/* SKILLS HEADER */
h2 {
  font-family: "Prompt", Helvetica, Arial, sans-serif;
  font-weight:400;
  margin-bottom: 15px;
}
/* PROJECT HEADER LABELS */
h3 {
  font-family: "Prompt", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}
/* PROJECT HEADER CONTENT */
h4 {
  font-family: "Prompt", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}
/* PROJECT UNIT TITLE */
h5 {
  font-weight: 300;
  font-size: 1.3em;
  margin-top: 15px;
}
/* PROJECT TAGS */
li {
  font-family: "Prompt", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
}
p {
  font-size: 1.2em;
}

/* COLORS */
.colors-primary {
  background-color: #16BA55;
  color:white ;
}
.colors-secondary {
  background-color: #e0faea;
  color:rgb(59, 59, 59);
}
.colors-nav-main {
  background-color: inherit;
  /* color: #ddffda; */
  color: rgb(243, 253, 234);
}
.colors-nav-main:hover {
  color: #FED5F2;
}
.colors-nav-main.activeBtn {
  color:#FED5F2;
}
.colors-nav-sticky {
  background-color: #FF5D95;
  color: white;
}
.colors-contact-form {
  background-color:#ffe7f8;
  color: rgb(47, 47, 47);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  body {
    min-height: 100vh;
  }
  h1 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
  p {
    font-size: 1.3em;
  }
  .Navbar {
    background-color: white;
  }
  .colors-secondary {
    background-color: #e0faea;
    color:rgb(59, 59, 59);
  }
  .colors-nav-main {
    color:#ff8ddd;
  }
  .colors-nav-main.activeBtn {
    background-color: #e0faea;
    color: #FF5D95;
  }
}
@media only screen and (orientation: portrait) and (min-width: 1000px) {
  body {
    min-height: 100vh;
  }
  h1 {
    font-size: 6em;
  }
  h3 {
    font-size: 1.7em;
  }
  p {
    font-size: 1.5em;
  }
  .colors-nav-main.activeBtn {
    color: #FF5D95;
  }
}