.NavPics {
  margin-top: 3%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  grid-area: thumbs;
  justify-content: space-between;
  width: 80%;
}
.NavPics-input { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.NavPics-thumb {
  height: 40px;
  width: 40px;
}
.NavPics-label {
  height: 40px;
  width: 40px;
}
:checked + .NavPics-thumb {
  border: solid;
  border-color:coral;
}

