.NavPics {
  background-color: transparent;
  display: flex;
  grid-area: thumbs;
  justify-content: space-between;
  width: 100%;
}
.NavPics-input { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.NavPics-thumb {
  height: 85%;
  width: 85%;
}
.NavPics-label {
  height: 85%;
  width: 85%;
}
:checked + .NavPics-thumb {
  border: solid;
  border-color:coral;
}
:not(:checked) + .NavPics-thumb {
  opacity: .4;
}

